/* To ensure footer remains at the bottom */
.site {
  min-height: 100vh;
}

/* To fill the parent block */
.flexparent {
  display: flex;
  flex-direction: column;
}
.flex {
  flex: 1;
}

/* Banner */
.banner.image {
  background-image: url("../images/banner_1920.jpg") !important;
  background-size: cover !important;
}
.banner.ui.segment {
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner h1.ui.header {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 0.8em;
  text-indent: 0.8em;
}
.banner h2.ui.header {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: normal;
}

/* Front-page adjustments */
.frontpage.ui.segment {
  padding: 5em 0em;
}
.frontpage.ui.segment h3 {
  font-size: 2em;
}
.frontpage.ui.segment .button + h3,
.frontpage.ui.segment p + h3 {
  margin-top: 2em;
}
.frontpage.ui.segment p {
  font-size: 1.33em;
}

/* Wrapper for page navigation */
.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper .main {
  flex-grow: 1;
}
.wrapper .nav {
  min-width: 15em;
}
.wrapper .nav.show {
  background: rgb(224, 224, 224);
}
.wrapper .nav.noshow {
  background: rgb(207, 205, 226);
}

/* Styling for the documentation navigation */
.docsnav {
  list-style-type: none;
  color: #888888;
}
.docsnav.level0 {
  padding: 0em 2em 2em 2em;
  text-transform: uppercase;
  line-height: 3;
  font-size: 110%;
}
.docsnav.level1 {
  padding: 0em;
  text-transform: none;
  line-height: 1.5;
  font-size: 140%;
  margin-bottom: 0.5em;
}
.docsnav.level0 .active {
  /*font-weight: bold;*/
  /*color: red;*/
  font-size: 110%;
}
.docsnav.level1 .active {
  /*font-weight: bold;*/
  /*font-size: 105%;*/
  color: red;
}
.docsnav a {
  color: black;
}
.docsnav a:hover {
  color: rgb(163, 163, 163) !important;
}
